@import "../../../styles/mixins&includes";
@import "../../../styles/variables";

.rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -4px;
    padding-top: 11px;

    &-item {
        padding: 0 4px 8px;

        .radio > span {
            padding-left: 0;
            width: 32px;
            height: 32px;
            background-color: #f0f0f0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #757575;

            &:before,
            &:after {
                display: none;
            }
        }

        input[type="radio"] {

            &:checked + span {
                background-color: $main;
                color: #fff;
            }
        }
    }
}