.icon {

	&-refresh {
		width: 21px;
		height: 24px;
	}

	&-alarm {
		width: 21px;
		height: 24px;
	}

	&-settings {
		width: 20px;
		height: 20px;
	}

	&-power-button {
		width: 20px;
		height: 20px;
	}

	&-email {
		width: 20px;
		height: 15px;
	}

	&-user {
		width: 20px;
		height: 20px;
	}

	&-calendar-1 {
		width: 20px;
		height: 20px;
	}

	&-calendar-3 {
		width: 20px;
		height: 20px;
	}

	&-calendar-2 {
		width: 20px;
		height: 20px;
	}

	&-calendar-4 {
		width: 16px;
		height: 16px;
	}

	&-goal {
		width: 20px;
		height: 20px;
	}

	&-arrow-circle {
		width: 20px;
		height: 20px;
	}

	&-information {
		width: 18px;
		height: 18px;
	}

	&-photo-camera {
		width: 24px;
		height: 22px;
	}
}