@import "../../../styles/mixins&includes";
@import "../../../styles/variables";

.icon-arrow-circle {
  width: 20px;
  height: 20px;
}

.aside {
  width: 263px;
  background-color: #f8f8f8;
  border-right: 1px solid #e0e0e0;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s;
  @include b(tablet) {
    width: 230px;
  }
  @include b(mobile) {
    overflow: visible;
    left: -230px;
  }
}

.sidebar {
  height: 100%;
  position: relative;

  &__wrap {
    padding: 17px 0 26px;
    @media (max-height: 400px) {
      padding: 10px 0;
    }
  }

  &__row {
    a {
      display: flex;
      align-items: center;
      padding: 9.5px 19px 10px 30px;
      @include b(tablet) {
        padding-left: 15px;
      }

      &:hover {
        background-color: #f0f0f0;

        .sidebar__text {
          span {
            color: $main;
          }
        }
      }
    }
  }

  &__icon {
    line-height: 0;
    width: 20px;

    svg {
      fill: #9e9e9e;
      transition: all 0.3s;
    }
  }

  &__text {
    display: block;
    padding-left: 14px;
    width: calc(100% - 20px);
    font-size: 16px;
    line-height: 1;
    position: relative;
    transition: all 0.3s;

    span {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s;
    }
  }

  &__target {
    a {
      display: flex;
      align-items: center;
      height: 44px;
      background-color: #f0f0f0;
      padding: 3px 0 3px 30px;
      @include b(tablet) {
        padding-left: 15px;
      }

      &:hover {
        color: $main;
      }

      svg {
        fill: $main;
        width: 20px;
      }

      span {
        display: block;
        font-weight: 700;
        padding-left: 14px;
        width: calc(100% - 20px);
        white-space: nowrap;
        transition: all 0.3s;
      }
    }
  }

  &__close {
    font-size: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
    transition: all 0.3s;
    @include b(tablet) {
      left: 15px;
      bottom: 20px;
    }
    @include b(mobile) {
      left: auto;
      right: -25px;
      bottom: auto;
      top: 5px;
      background-color: #fff;
    }

    &:hover {
      color: $main;

      svg {
        fill: $main;
      }
    }

    svg {
      fill: #b9b9b9;
      transition: all 0.3s;
      @include b(mobile) {
        transform: rotate(-180deg);
      }
    }

    span {
      padding-left: 14px;
      display: block;
      padding-bottom: 2px;
      transition: all 0.3s;
      @include b(mobile) {
        display: none;
      }
    }
  }
}

.content {
  &.active {
    .aside {
      width: 68px;
      @include b(mobile) {
        left: 0;
        width: 230px;
      }
    }

    .sidebar {
      &__row {
        a {
          padding-left: 24px;
        }
      }

      &__text {
        opacity: 0;
        @include b(mobile) {
          opacity: 1;
        }
      }

      &__target {
        a {
          padding-left: 24px;

          span {
            opacity: 0;
            @include b(mobile) {
              opacity: 1;
            }
          }
        }
      }

      &__close {
        left: 24px;
        @include b(mobile) {
          left: auto;
          right: -25px;
        }

        svg {
          transform: rotate(180deg);
          @include b(mobile) {
            transform: rotate(0);
          }
        }

        span {
          opacity: 0;
        }
      }
    }
  }
}
